# Bytecode files (Python)
*.pyc
__pycache__/

# Virtual environments
venv/
.venv/  # Common alternative name for virtual environments

# Dependencies
/lib/  # Python compiled libraries 
/build/ # Compiled files
node_modules/

# Configuration files
*.ini
*.cfg
*.env
local_settings.py  # Django local settings
instance/          # Flask instance folder

# Data files
*.sqlite3
*.jsonl  # JSON Lines files

# Log files
*.log

# macOS system files
.DS_Store

# IDE-specific files
.vscode/  # Visual Studio Code
.idea/    # PyCharm
*.iml    # PyCharm module files
.project # Eclipse project files
.pydevproject # Eclipse pydev files

# Testing/debugging
.pytest_cache/
htmlcov/
.coverage

# Distribution files
dist/
build/
*.egg-info/
